<md-toolbar class="md-theme-light" layout="row"   layout-align="center center">
    <h1 class="md-toolbar-tools">Scan Settings</h1>
    <md-button ng-click="toggle('gallery-navbar')" class="md-icon-button" aria-label="More">
        <!--<md-icon md-font-icon="fa fa-circle" style="height:auto" aria-hidden="true"></md-icon>-->
        <md-icon md-font-icon="fa-chevron-right" class="fa **fa-md**"></md-icon>
    </md-button>
</md-toolbar>
<md-content flex layout-padding style="height: 100%" flex>
    <div layout="column">

        <md-card flex-xs flex-gt-xs="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>
        <md-card flex-xs flex-gt-xs="50" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Card with image</span>
                    <span class="md-subhead">Large</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>

    </div>
</md-content>