* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline:none;
}

.footer {
     position: fixed;
     bottom: 0px;
     width:100%;
}

.top-toolbar{
    position:fixed;
    top:0px;
    z-index: 70;
}

div > canvas{
    position: fixed;
    top: 0px;
}

.md-50 {
    font-size: 1.5em;
}

.fabscan-icon > svg{
    fill: white;
}

.fabscan-icon > svg > g{
    fill: white;
}


.fa-md {
    height: auto;
}

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 90% !important;
    width: 100vw !important;
    max-width: 600px !important;
}

.nav-close{
   margin-right: 0.4em;
}

.fab-button{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin: 0.1em;
    z-index: 71;
}

.fab-button > md-fab-actions > div{
    margin-top:0.3em;
}

.back{
    bottom: auto;
    margin-top: -2em;
    margin-right: 1.8em;
}

.context-icons{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 4em 1.3em 1em 0em;
    display: inline-flex;
        vertical-align: middle;
}

.fs-sheet{
    padding: 8px 0px 88px;
}

.listOfScans {
    height: 0px;
    width: 100%;
    bottom: 60px;
    position: fixed;
    left: 0px;
    background-color: rgba(53, 53, 53, 0.5);
    transition: height 0.3s;
}

#vericalToolBar {
    background-color: rgb(1,74,182);
    width: 50px;
}

#vericalToolBar md-icon {
    color: rgba(255,255,255,0.87);
}

#toolBarTitle {
    writing-mode: tb-rl;
    color: rgba(255,255,255,0.87);
}